@charset "utf-8";
/* CSS Document */

body{
	background-color:rgba(245,245,245,1.00);
}

#h_name{
	padding-top: 15%;
	font-family: 'Sarabun', sans-serif;
	/*background-color: aquamarine;*/
}


#Logo_wu{
	padding-top: 12%;
}

/*CSS form login-*/
#form_login{
	padding-top: 2%;
	font-family: 'Prompt', sans-serif;
}

.form-control{
	 margin-bottom: 0.2rem;
}



