.modal-title{
    font-family: 'prompt',sans-serif;
    font-size: 19px;
    font-weight: 800;
}
.TypeActivity{
    width: 100%;
}
.SelectTypeActivity{
    width: 40%;
    height: 2rem !important;
    font-size: 14px;
}
.lable{
    font-family: 'Taviraj',sans-serif;
    font-size: 12px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.label_type_activity{
    font-size: 12px;
}
.status{
    font-size: 12px;
    font-weight: 500;
}
.badge-primary {
    background-color: #AF7AC5;
    border: 1px solid #34495E ;
}
.badge-secondary{
    background-color:#5DADE2;
    border: 1px solid #1F618D ;
}
.badge-success{
    background-color:#58D68D;
    border: 1px solid #0B5345 ;
}
.label_txt{
    font-family: 'Taviraj',sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.badge-danger{
    background-color:#F1948A;
    border: 1px solid #B03A2E;
}
.detailzoom{
    text-align: center;
}
.StatusActivity{
    text-align: center;
}
.fileicon{
    font-size: 18px;
    color: #D5DBDB;
}
.fileicon:hover{
    cursor: pointer;
    color: #5DADE2;
    opacity: 1;
    transition: 0.3s;
}
.editicon{
    color:#34495E;
    font-size: 16px;
    margin: 0.2rem;
}
.editicon:hover{
    cursor: pointer;
    color:#1ABC9C ;
    font-size: 16px;
    margin: 0.2rem;
}
.delicon{
    color: #F5B7B1;
    font-size: 16px;
    margin: 0.2rem;
}
.delicon:hover{
    color:#E74C3C  ;
    cursor: pointer;
}
#wait_offer{
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(243, 57, 0);
}
#sucess{
    font-size: 14px;
    font-family: sans-serif;
    color: #58D68D;
}
#service_name{
    width: 50%;
    font-family: 'Taviraj',sans-serif;
}
#service_date{
    width: 20%;
    font-family: 'Taviraj',sans-serif;
}
#start_time{
    width: 15%;
    font-family: 'Taviraj',sans-serif;
}
#end_time{
    width: 15%;
    font-family: 'Taviraj',sans-serif;
}
#received{
    font-family: 'Taviraj',sans-serif;
}
#sort{
    width: 5% !important;
}
#activity_name{
    width: 60% !important;
}
#date{
    width: 5% !important;
}
#detail_activity_2{
    width: 1% !important;
}
