@media print {
    .page-number:after {
        page-break-before: always;
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: 310px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1000px;
        height: 50px;
        padding: 80px 0;
        padding: 35px 85px;
        text-align: right;
        counter-increment: page;
        content: " หน้า " counter(page) " จากทั้งหมด " counter(page);
    }
    .page-break {
        height: 0;
        page-break-before: always;
        margin: 0;
        border-top: none;
    }
    .line {
        border: black;
        border-width: 2em;
        margin-left: 2px;
        display: flex
    }
    .title1 {
        font-size: 20px;
        font-weight: 800;
        font-family: 'Taviraj';
    }
    .title2 {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Taviraj';
        font-style: normal;
    }
    .logofile {
        max-width: 80px;
        font-size: 16px;
    }
    .HeaderReport {
        display: flex
    }
    /**/
    body {
        font-size: 20px;
        line-height: 120%;
        background: white;
        display: table;
        table-layout: fixed;
        padding-top: 1.5cm;
        padding-bottom: 1.5cm;
        height: auto;
    }
    @page :left {
        margin-left: 0.5cm;
    }
    @page :right {
        margin-left: 0.61cm;
    }
    .page-break {
        display: block;
        height: 1px;
        page-break-before: always;
    }
    .page-break-no {
        display: block;
        height: 1px;
        page-break-after: avoid;
    }
    .PrintReport {
        height: 100%;
        margin: 1px 1px 1px 1px;
        display: flex;
    }
    .card-body {
        font-size: 20px;
        display: block;
    }
    .Print {
        display: none;
    }
    .dataTables_info {
        display: none;
    }
    .dataTables_paginate {
        display: none;
    }
    .h2 {
        page-break-before: always;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Taviraj';
    }
    .date_print {
        page-break-before: always;
        font-size: 14px;
        margin-bottom: 10px;
        margin-right: 300px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1000px;
        height: 50px;
        padding: 40px 0;
        padding: 15px 35px;
        text-align: left;
    }
}

@media screen {
    .page-number {
        display: none;
    }
    .HeaderReport {
        page-break-before: always;
        display: none;
    }
    .Print {
        display: block;
    }
    .date_print {
        display: none;
    }
    .page {
        display: none;
    }
}

.test {
    display: none;
}

.HeaderGroup {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Taviraj';
}

.group {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Taviraj';
}

.title2 {
    margin: initial;
}


/* .th {
    border: 1px solid black;
} */

.card-body {
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 600;
    font-family: 'Taviraj';
}

.data_activity_participants {
    border-radius: 100%;
    border: 10px solid rgb(2, 2, 54);
    border-collapse: separate;
}


/* .style_table {
    border-radius: 100%;
    border: 10px solid rgb(2, 2, 54);
    border-collapse: separate;
} */


/* 
.dataTables_info {
    font-size: 14px;
    font-weight: 800;
    font-family: 'Taviraj';
} */

.thead {
    font-family: 'Taviraj';
}

.odd {
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Taviraj';
}

.chart_name {
    font-size: 16px;
    font-weight: 800;
    font-family: 'Taviraj';
}

.dataTables_filter {
    display: none;
}

.h2 {
    font-size: 16px;
    font-weight: 800;
    font-family: 'Taviraj';
}

a:link {
    color: green;
}


/* visited link */

a:visited {
    color: black;
}


/* mouse over link */

a:hover {
    color: rgb(211, 106, 8);
}


/* selected link */

a:active {
    color: rgb(130, 13, 208);
}

.Print {
    text-align: right;
}


/* .container-fluid {
    line-height: 35px;
    font-size: 16px;
} */

.card-header {
    /* line-height: 35px; */
    font-size: 20px;
}