.ManageBasicData {
    display: grid;
    padding: 0.9rem;
    grid-template-rows: 180px 180px 180px;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

.title {
    width: fit-content;
    background-color: #4A235A;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 14px;
    color: #fff;
    font-family: 'prompt', sans-serif;
    border-bottom: 1px solid #EAEDED;
    border-radius: 10px 10px 0px 0px;
}

.dashboad {
    display: flex;
}

.CardTool {
    color: #34495E;
    font-family: 'prompt', sans-serif;
    text-align: center;
    background-color: #f3f3f3;
    margin: 0.2rem;
    font-size: 14px;
}

.card1 {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(145, 143, 146);
    border-radius: 0.4rem 0.5rem 0.5rem 0.5rem;
}
.mobile{
    width: 25%;
}

.part1 {
    width: 70%;
}

.scorebar {
    overflow-y: scroll;
}

.padding {
    padding: 2.5rem;
}

label {
    font-family: "", sans-serif;
    font-size: 12px;
}

.Font {
    font-size: 12px;
}

.Carddata:hover {
    color: #fff;
    background-color: rgb(75, 8, 151);
    opacity: 1;
    transition: 0.3s;
}

.icon1 {
    color: #0b3f61;
    text-align: center;
    font-size: 50px;
}

.msg {
    color: #a3a1a1;
    font-size: 12px;
    text-align: center;
}

.cursor:hover {
    cursor: pointer;
    color: rgb(55, 18, 141);
    background-color: #8b8b8b7a;
    border: 1px solid rgb(188, 189, 190);
    opacity: 1;
    transition: 0.3s;
    font-size: 16px;
    -webkit-box-shadow: 18px -4px 39px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px -4px 39px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 18px -4px 39px -14px rgba(0, 0, 0, 0.75);
}

/* scorrbar css */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-device-width:800px){
    
    .ManageBasicData {
        display: contents;
    }

    .dashboad {
        display: contents;
    }

    .mobile{
        width: auto;
    }

}