#idsort {
    width: 5%;
}

#detail_activity_regis {
    width: 60%;
    text-align: center;
}

#person_control {
    width: 20%;
    text-align: center;
}

#manage {
    width: 10%;
    text-align: center;
}

#person_control {
    text-align: center;
}

#btn_accept_td {
    text-align: center;
}

#reson_not_accept {
    font-size: 14px;
    font-family: 'Taviraj', sans-serif;
}

.modal-title {
    font-family: 'prompt', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.title {
    font-size: 14px;
    font-family: 'Taviraj', sans-serif;
}

.acceptperson {
    font-size: 12px;
    font-weight: 600;
}

.ChoiceAccept {
    text-align: left;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 0.2rem;
}

.ResonNotAccept {
    display: none;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.label {
    font-size: 12px;
    font-family: 'Taviraj', sans-serif;
    margin-right: 0.2rem;
}

.DivData {
    width: 50%;
    font-size: 12px;
    font-family: 'Taviraj', sans-serif;
    padding-left: 1rem;
}

.part1 {
    width: 80%;
}

.part2 {
    width: 20%;
    padding-top: 6%;
}

.Data {
    display: grid;
    margin-left: 2.5rem;
}

.DetailActivity {
    display: grid;
}

.DetailActivity_modal {
    display: flex;
    width: 100%;
}

.accept_activity {
    background: #dcece3;
    padding: 0.1rem;
    font-family: 'Taviraj', sans-serif;
    color: #00ce68;
    font-weight: 100;
    border-radius: 0.5rem;
    font-size: 12px;
    border: 1px solid #04753d;
}

.accept_activity:hover {
    cursor: pointer;
    color: #212F3C;
    background: #2ECC71;
}

.Imglogo {
    max-width: 150px;
}